body { background: #88d817; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 16px; display: flex; }
.block-metrics-0 { color: #b54cdd; font-size: 13px; margin-bottom: 5px; }
.block-uploader-1 { color: #134067; font-size: 20px; margin-bottom: 5px; }
.block-logger-2 { color: #58dbb7; font-size: 19px; margin-bottom: 5px; }
.block-sms-3 { color: #c37020; font-size: 16px; margin-bottom: 5px; }
.block-search-4 { color: #493261; font-size: 17px; margin-bottom: 5px; }
.block-email-5 { color: #32606e; font-size: 19px; margin-bottom: 5px; }
.block-email-6 { color: #7ce9fc; font-size: 18px; margin-bottom: 5px; }